.coveo-small {
  font-size: 70%;
  background-color: #F7F8F9;
  padding-left: 20px;
}

.coveo-federated-email.coveo-modalBox>.coveo-wrapper>.coveo-body {
  padding: 15px;
}

.coveo-federated-email.coveo-modalBox>.coveo-wrapper>.coveo-title {
  text-align: left !important;
}

.HIDECOUNT .coveo-facet-value-count {
  display:none !important;
}